# SQLite

In [1]:
import sqlite3

In [3]:
## Connect to an SQLite database
connection = sqlite3.connect("example.db")
connection

In [4]:
curor = connection.cursor()

In [5]:
## create a Table 
curor.execute('''
Create Table If Not Exists employess(
    id Integer Primary Key,
    name Text not Null,
    age Integer,
    department text
    )
''')
## Commit the changes 
connection.commit()

In [7]:
curor.execute(""" 
Select * from employess
              
""")

In [9]:
## Insert the data in sqlite table 
curor.execute(""" 
              
INSERT INTO employess(name,age, department)
VALUES("Nahid",32,"Engineering")
              
""")

curor.execute(""" 
              
INSERT INTO employess(name,age, department)
VALUES("Ferdous",34,"Data Science")
              
""")

## Connection 
connection.commit()

In [10]:
## Query the data from the table 
curor.execute("Select * from employess")
rows=curor.fetchall()

## print the queries data
for row in rows:
    print(row)

(1, 'Nahid', 32, 'Engineering')
(2, 'Ferdous', 34, 'Data Science')

In [11]:
#Update the data in the table 
curor.execute('''
UPDATE employess
Set age= 35
where name = "Ferdous"

''')

connection.commit()

In [12]:
## Query the data from the table 
curor.execute("Select * from employess")
rows=curor.fetchall()

## print the queries data
for row in rows:
    print(row)

(1, 'Nahid', 32, 'Engineering')
(2, 'Ferdous', 35, 'Data Science')

In [13]:
# Delete the data from the table 
curor.execute('''
Delete from employess
              where name = "Ferdous"

''')

In [14]:
## Query the data from the table 
curor.execute("Select * from employess")
rows=curor.fetchall()

## print the queries data
for row in rows:
    print(row)

(1, 'Nahid', 32, 'Engineering')

In [24]:

import sqlite3
## Working with Sales Data
## Connect to an SQLite database
Connection = sqlite3.connect('sales_data.db')
cursor =connection.cursor()

# Create a table for sales data
curor.execute('''
CREATE TABLE If not Exists slaes(

              id INTEGER PRIMARY KEY,
              date TEXT Not NULL,
              product TEXT NOT NULL,
              sales INTEGER,
              region TEXT
              )
''')

# Insert data into the sales table
sales_data = [
    ('2023-01-01', 'Product1', 100, "North"),
    ('2023-01-02', 'Product2', 200, "South"),
    ('2023-01-03', 'Product3', 300, "East"),
    ('2023-01-04', 'Product4', 200, "West")
]

In [27]:

cursor.executemany('''
Insert into slaes (date, product, sales, region)
                  values(?,?,?,?)
''',sales_data)

In [28]:
connection.commit()

In [32]:
## Query the data from the table 
cursor.execute("Select * from slaes")
rows=cursor.fetchall()

## print the queries data
for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product3', 300, 'East')
(4, '2023-01-04', 'Product4', 200, 'West')

In [33]:
## Close The connection 
connection.close()