In [15]:
import pandas as pd
import numpy as np

In [16]:
data= pd.read_excel(r"C:\Users\nahid\Desktop\Python_World\Data\text phonix.xlsx")

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   NDVIMAX           38 non-null     float64
 1   NDVIMEAN          38 non-null     float64
 2   NDVIMEDIAN        38 non-null     float64
 3   WATER             38 non-null     int64
 4   IMPERVIOUS        38 non-null     int64
 5   SOIL_BARREN       38 non-null     float64
 6   TREES_FOREST      38 non-null     float64
 7   SHRUBS            38 non-null     float64
 8   GRASS_HERBACEOUS  38 non-null     int64
 9   AGRICULTURE       38 non-null     int64
dtypes: float64(6), int64(4)
memory usage: 3.1 KB

In [18]:
data.describe()

,NDVIMAX,NDVIMEAN,NDVIMEDIAN,WATER,IMPERVIOUS,SOIL_BARREN,TREES_FOREST,SHRUBS,GRASS_HERBACEOUS,AGRICULTURE
count,38.000000,38.000000,38.000000,38.0,38.0,38.000000,38.000000,38.000000,38.0,38.0
mean,0.363397,0.258134,0.248642,0.0,0.0,0.768276,0.035995,0.195729,0.0,0.0
std,0.039072,0.037376,0.044691,0.0,0.0,0.182113,0.103036,0.164160,0.0,0.0
min,0.298800,0.198700,0.180800,0.0,0.0,0.300000,0.000000,0.000000,0.0,0.0
25%,0.328925,0.220050,0.203700,0.0,0.0,0.621125,0.000000,0.043875,0.0,0.0
50%,0.356650,0.271250,0.257050,0.0,0.0,0.796100,0.000000,0.160000,0.0,0.0
75%,0.393050,0.288200,0.282600,0.0,0.0,0.949725,0.003850,0.301375,0.0,0.0
max,0.442100,0.317700,0.323700,0.0,0.0,1.000000,0.555600,0.700000,0.0,0.0

In [19]:
data.isnull().sum()

NDVIMAX             0
NDVIMEAN            0
NDVIMEDIAN          0
WATER               0
IMPERVIOUS          0
SOIL_BARREN         0
TREES_FOREST        0
SHRUBS              0
GRASS_HERBACEOUS    0
AGRICULTURE         0
dtype: int64

In [20]:
data.head()

,NDVIMAX,NDVIMEAN,NDVIMEDIAN,WATER,IMPERVIOUS,SOIL_BARREN,TREES_FOREST,SHRUBS,GRASS_HERBACEOUS,AGRICULTURE
0,0.3770,0.2922,0.2820,0,0,0.6978,0.0000,0.3022,0,0
1,0.3554,0.2827,0.2896,0,0,0.6044,0.0000,0.3956,0,0
2,0.3493,0.2796,0.2915,0,0,0.5889,0.0044,0.4067,0,0
3,0.3332,0.2791,0.2796,0,0,0.6311,0.0189,0.3500,0,0
4,0.4134,0.3055,0.3058,0,0,0.6178,0.0344,0.3478,0,0

In [62]:
import random 

def magic():
    for i in range(6):
        return random.randint(1,20)

In [57]:
magic()

19

In [63]:
import random 

def magic():
    for i in range(6):
        yield random.randint(1,20)

In [69]:
magic()

<generator object magic at 0x0000023F969F1080>

In [70]:
for i in magic():
    print(i)

4
14
20
6
1
14

In [71]:
for i in "Nahid":
    print(i)

N
a
h
i
d

In [90]:
supperhero1 = (1,2,3,4)
supperhero2 = (1,2,3,4)

def getSquare(num1,num2):
    return num1*num2

In [99]:
result = map(getSquare,supperhero1,supperhero2)
resulttwo= set(result)

In [100]:
print(supperhero1)
print(supperhero2)
print(resulttwo)

(1, 2, 3, 4)
(1, 2, 3, 4)
{16, 1, 4, 9}

In [108]:
d1= {1,2,3,4}
d2={1,2,0,5}
d3= [None,None,None,None]
d4= [None,1,2,0]
d5=[ ]

In [123]:
import string 
import collections

In [138]:
#print(string.ascii_lowercase)

def main():
    myd= collections.deque(string.ascii_lowercase)
    #print("Number of elements are :", str(len(myd)))
    for i in myd:
        print(i, end=",")


if __name__ == "__main__":
    main()
    print(" ok ")
    main()

a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z, Next

a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z,

In [140]:
MylistOne = [1,2,3,45,67,8,3.5]
MylistOne.append(1)
MylistOne

[1, 2, 3, 45, 67, 8, 3.5, 1]

In [145]:
def my_data():
    for x in range(20):
        yield x

for i in range(5):
    y =random.randint(0,10)
    print(y)

1
5
2
7
2

In [148]:
for i in my_data():
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [174]:

Student_name = ["Nahid","Ferdous","Marzia","Khan","Abid","Khan"]
def info(name):
    return name

object1 = map(info,Student_name)

In [175]:


new_name=[]
for i in object1:
    new_name.append(i)
    print(i)

print(new_name)

Nahid
Ferdous
Marzia
Khan
Abid
Khan
['Nahid', 'Ferdous', 'Marzia', 'Khan', 'Abid', 'Khan']

In [172]:
Student_name = ["Nahid", "Ferdous", "Marzia", "Khan", "Abid", "Khan"]

# Define a function that simply returns the input name
def info(name):
    return name

# Use map to apply the info function to each element of Student_name
object1 = map(info, Student_name)

# Create an empty list to store the results
new_name = []

# Iterate over the map object and append each result to new_name
for i in object1:
    new_name.append(i)
    print(i)

# The new_name list will now contain all the names from Student_name
print(new_name)

Nahid
Ferdous
Marzia
Khan
Abid
Khan
['Nahid', 'Ferdous', 'Marzia', 'Khan', 'Abid', 'Khan']

In [185]:
my_list = [1,3,2,3,4,12,13,2,12,4,12,11,13,4]
new_list=[]
def select(num):
    for i,d in enumerate(my_list):
        if d >= num:
            new_list.append(d)
            my_list.pop(i)

In [184]:
print(my_list)
print(new_list)

[1, 2, 4, 13, 2, 4, 11, 4]
[3, 3, 12, 12, 12, 13]