In [16]:
# Dictionary 
mydone= {
    "Name":"Nahid",
    "Age":2, 
    "Gender": "Male"
    }

In [22]:
# Dictionary 
mydone= {
    "Name":"Nahid",
    "Age":2, 
    "Gender": "Male"
    }

new_done= {}
def dicone():
    for k in mydone:
        print(f"{k} : {mydone[k]}")
        if k =="Age":
            y=mydone[k]+2
            new_done[k]=y
    else:
        new_done[k]=mydone[k]
    #print("The data is :", d)

In [23]:
dicone()
new_done

Name : Nahid
Age : 2
Gender : Male

{'Age': 4, 'Gender': 'Male'}

In [25]:
dicone= {"name":"Nahid", "age": 32}
print(dicone.keys())
print(dicone.values())

dict_keys(['name', 'age'])
dict_values(['Nahid', 32])

In [27]:
print(dicone.get("name"))
print(dicone.get("nasd","Not Avilable"))

Nahid
Not Avilable

In [28]:
del dicone["name"] #delete

In [31]:
dicone["Name"]="Nahid" #Update

In [32]:
dicone

{'age': 32, 'Name': 'Nahid'}

In [33]:
## Dictionary Methods 
keys = dicone.keys()
values=dicone.values()
items=dicone.items()

In [34]:
print(items)

dict_items([('age', 32), ('Name', 'Nahid')])

In [40]:
## shallo coppy 
student={"Name": "Nahid", "Age":32}
student_copy = student
print(student)
print(student_copy)

{'Name': 'Nahid', 'Age': 32}
{'Name': 'Nahid', 'Age': 32}

In [41]:
student["Name"]="Ferdous"
print(student)
print(student_copy)

{'Name': 'Ferdous', 'Age': 32}
{'Name': 'Ferdous', 'Age': 32}

In [48]:
student_copy1 = student.copy()
print(student)
print(student_copy1)

{'Name': 'Nahid', 'Age': 32}
{'Name': 'Nahid', 'Age': 32}

In [49]:
student["Name"]="Nahid2"
print(student)
print(student_copy1)

{'Name': 'Nahid2', 'Age': 32}
{'Name': 'Nahid', 'Age': 32}

In [50]:
for key,value in student.items():
    print(key)
    print(value)

Name
Nahid2
Age
32

In [51]:
# Nested Disctionaries
students= {
    "student1" : {"Name":"Nahid","Age":32},
    "student2" : {"Name":"Nahid2","Age":34}
}

In [52]:
students

{'student1': {'Name': 'Nahid', 'Age': 32},
 'student2': {'Name': 'Nahid2', 'Age': 34}}

In [54]:
print(students["student1"]["Name"])
print(students["student1"]["Age"])

Nahid
32

In [67]:
students= {
    "student1" : {"Name":"Nahid","Age":32},
    "student2" : {"Name":"Nahid2","Age":34}
}

for key,value in students.items():
    print(f"The {key} and the {value}")

    for k,d in value.items():
        print(f"{k}:{d}")

The student1 and the {'Name': 'Nahid', 'Age': 32}
Name:Nahid
Age:32
The student2 and the {'Name': 'Nahid2', 'Age': 34}
Name:Nahid2
Age:34

In [57]:
T= (1,2,34,[12,2,3,2], {"Name":"Nahid"})
type(T)

tuple

In [69]:
# Dictionary Comphrehension 
squares = {x:x**2 for x in range(5)}
squares

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [76]:
import math as m
# Conditional Dicrionary Comphrehension
Equation = [m.log(x) for x in range(10) if x>=3]

In [77]:
Equation

[1.0986122886681098,
 1.3862943611198906,
 1.6094379124341003,
 1.791759469228055,
 1.9459101490553132,
 2.0794415416798357,
 2.1972245773362196]

In [78]:
math_dic = {x: m.log(x) for x in [1,2,3,4,5,6,7] if m.log(x)<=1.2}

In [79]:
math_dic

{1: 0.0, 2: 0.6931471805599453, 3: 1.0986122886681098}

In [84]:
numbers= [1,1,1,2,2,2,1,2,3,4,3,4,2]
numbers.count(1)

4

In [88]:
numbers = [1, 1, 1, 2, 2, 2, 1, 2, 3, 4, 3, 4, 2]

# Creating the dictionary with counts
dicfour = {x: numbers.count(x) for x in set(numbers)}

print(dicfour)

{1: 4, 2: 5, 3: 2, 4: 2}

In [89]:
set(numbers)

{1, 2, 3, 4}

In [93]:
dic1 = {"a":1, "b":3}
dic2 = {"e":3, "a":3}
marge = {**dic1,**dic2}
marge

{'a': 3, 'b': 3, 'e': 3}

In [96]:
# How to find the unic values form a list.
x= [1,1,1,1,2,4,2,3, "Nahid", "Nahid"]
print(set(x))

{1, 2, 3, 4, 'Nahid'}

In [100]:
#How to cound repited number of elements in a list
for i in set(x):
    print(f"In this list, {i} are {x.count(i)} times in the list")

In this list, 1 are 4 times in the list
In this list, 2 are 2 times in the list
In this list, 3 are 1 times in the list
In this list, 4 are 1 times in the list
In this list, Nahid are 2 times in the list